<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<base th:href="${#request.getContextPath() + '/'}"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>密码找回</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Triple Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript"></script>

	<!-- css files -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext"
	 rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<div class="main-bg">
		<!-- title -->
		<h1>密码找回</h1>
		<!-- //title -->
		<div class="sub-main-w3">
			<div class="image-style">

			</div>
			<!-- vertical tabs -->
			<div class="vertical-tab">
				<div id="section1" class="section-w3ls">
					<input type="radio" name="sections" id="option1" checked>
					<label for="option1" class="icon-left-w3pvt"><span class="fa fa-user-circle"
																	   aria-hidden="true"></span>密码修改</label>
					<article>
						<form action="/user/setpassword" method="post">
							<h3 class="legend">密码修改</h3>
							<div class="input">
								<button  type="button" style=" background-color: orange;
                                            width: 200px;height: 30px;color: black" disabled>请输入新密码：</button>&ensp;&ensp;
								<input type="text" class="code" name="password" placeholder="新密码"/>
							</div>
							<button type="submit" class="btn submit">提交</button>
						</form>
					</article>
				</div>

			</div>
			<!-- //vertical tabs -->
			<div class="clear"></div>
		</div>
	</div>

</body>

</html>